################################################################################
https://github.com/webchenli/CGN
################################################################################
/native/
.settings
*.ini

.idea
*.log
/node_modules/
/npm-debug.log
/build/
.vscode
.*.swp
dist
webpack.ztc.config.js
app_ztc.js

.happypack

client/js/
/firefox_tc/