body{
    color: #666666;
    font-weight: normal;
    font-size:14px;
}
.mb2{
    margin-bottom: 2%;
}
.hide{
    display: none;
}
.row{
    font-weight: normal;
    padding: 1% 0 1% 2%;
    border-bottom:1px solid #cfcfcf;
    background: #fff;
    margin-top: 2%;
    float:left;
    width: 100%;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
    float:left;
}
.col-md-8 {
    width: 66.66666667%;
    float:left;
}
.col-md-7 {
    width: 58.33333333%;
    float:left;
}
.col-md-6 {
    width: 50%;
    float:right;
}
.col-md-5 {
    width: 41.66666667%;
    float:left;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
    float:left;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}

.my-um-label {
    font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    height: 44px;
    overflow: hidden;
}
.back {
    background:url(../../img/back.png) no-repeat;
    background-size:10px;
    background-position: 15px 11px;
}
.um-header{
    background:#ff8000;
    color:#fff;
    padding-top: 25px;
}
.um-box{
    height:40px;
    line-height:40px;
}
.iframe-button-start{
    width:30px;
    height: 30px;
    background: url("../../img/icon_enable.png") no-repeat;
    background-size:80%;
}
.iframe-button-stop{
    width: 30px;
    height: 30px;
    background: url("../../img/icon_disable.png") no-repeat;
    background-size:80%;
}
.iframe-info{
    width:81%;
}

.iframe-title , .iframe-detail ,.iframe-time{
    height:25px;
    line-height:25px

}
.iframe-title span{
    font-weight:bold;
}
.iframe-list{
    font-size:12px;
}

.iframe-list div label{
    float:left;
    margin-right: 3px;
}

.iframe-img{
    width:18%;
    overflow: hidden;
    padding: 15px 0 0 5px;
}
.iframe-button-start .iframe-button-stop{
    width:60px
}
.iframe-time{
    margin: 5px;
    font-size:12px;
    text-align:right;

}
/* è®¾ç½®èƒŒæ™¯å›¾ç‰‡ */
.icon-home, .icon-attention, .icon-categroy, .icon-warehouse, .icon-my {
    height: 19px;
    background: url(../../img/icon-home.png) center no-repeat;
    background-size:auto 100%;
}
.um-footerbar-item.active {
    color:#ee9430;
}
.iframe-nav{
    background:#fff;
    overflow:hidden;
    margin:10px 0 ;
    padding:10px ;
}
.iframe-nav ul{

}
.iframe-nav ul li{
    float: left;
    width: 33%;
}
.iframe-nav ul li.active{
    border-bottom: 2px solid #ff8000;
}

.iframe-nav ul li p{
    text-align:center;
    font-size:12px;
    line-height:30px
}
.iframe-ul-detail{
    width:60px;
    height: 50px;
    margin: 0 auto;
    background: url("../../img/icon_detail.png") no-repeat 10px 0px;
    background-size: 60%;
}
.iframe-ul-range{
    width:60px;
    height: 50px;
    margin: 0 auto;
    background: url("../../img/icon_rang.png")  no-repeat 10px 0px;
    background-size: 70%;
}
.iframe-ul-doc{
    width:60px;
    height: 50px;
    margin: 0 auto;
    background: url("../../img/icon_doc.png")  no-repeat 10px 0px;
    background-size: 70%;
}


.icon-attention {
    background-image: url(../../img/icon-attention.png);
}
.icon-categroy {
    background-image: url(../../img/icon-categroy.png);
}
.icon-warehouse {
    background-image: url(../../img/icon-warehouse.png);
}
.icon-my {
    background-image: url(../../img/icon-my.png);
}
/* è®¾ç½®æ¿€æ´»çŠ¶æ€ */
.um-footerbar-item.active .icon-home {
    background-image: url(../../img/icon-home-active.png);
}
.um-footerbar-item.active .icon-attention {
    background-image: url(../../img/icon-attention-active.png);
}
.um-footerbar-item.active .icon-categroy {
    background-image: url(../../img/icon-categroy-active.png);
}
.um-footerbar-item.active .icon-warehouse {
    background-image: url(../../img/icon-warehouse-active.png);
}
.um-footerbar-item.active .icon-my {
    background-image: url(../../img/icon-my-active.png);
}