body{
    color: #666666;
    font-weight: normal;
    font-size:14px;
}
.um-content {
	
}
.mb2{
    margin-bottom: 2%;
}
.row{
    font-weight: normal;
    padding: 1% 0 1% 2%;
    border-bottom:1px solid #cfcfcf;
   	height:auto;
    background: #fff;
    margin-top: 2%;
    float:left;
    width: 100%;
    overflow:hidden;
    position: relative;
}
.fl{
	float: left;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
    float:left;
}
.col-md-8 {
    width: 66.66666667%;
    float:left;
}
.col-md-7 {
    width: 58.33333333%;
    float:left;
}
.col-md-6 {
    width: 50%;
    float:right;
}
.col-md-5 {
    width: 41.66666667%;
    float:left;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
    float:left;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}
.my-um-label {
    font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    height: 44px;
    overflow: hidden;
}
.back {
    background:url(../../img/back.png) no-repeat;
    background-size:10px;
    background-position: 15px 11px;
}
.um-header{
    padding-top:25px;
	position:relative;
	background:url("../../img/dingbu.png") no-repeat;
	text-align:center;
	color:#fff;
	background-size:100% 100%;
}
.um-box{
    height:40px;
    line-height:40px;
}
.iframe-button-start{
    width:30px;
    height: 30px;
    background: url("../../img/icon_enable.png") no-repeat;
    background-size:80%;
}
.iframe-button-stop{
    width: 30px;
    height: 30px;
    background: url("../../img/icon_disable.png") no-repeat;
    background-size:80%;
}
.iframe-info{
    width:100%;
}

.iframe-title , .iframe-detail ,.iframe-time{
    /*height:25px;*/
    /*line-height:25px*/

}
.iframe-detail{
	padding-top:5px; 
}
.iframe-title{
	text-align:right;
	width:5%;
}
.iframe-title span{
    font-weight:bold;
}
.iframe-title>i{
	display:block;
}
.iframe-list-wp {
	overflow:hidden;
}
.iframe-list{
    font-size:12px;
    overflow: hidden;
    position:relative;
    width: 80%;
}
.iframe-go{
	display: block;
	float: right;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

.iframe-list div label{
    float:left;
    margin-right: 3px;
}

.iframe-img{
    width:15%;
    overflow: hidden;
    padding: 15px 0 0 5px;
}
.iframe-button-start .iframe-button-stop{
    width:60px
}
.iframe-time{
    margin: 5px;
    font-size:12px;
    text-align:right;
    padding-right:10px;
    color:#7F7F7F;

}

/* è®¾ç½®èƒŒæ™¯å›¾ç‰‡ */
.icon-home, .icon-attention, .icon-categroy, .icon-warehouse, .icon-my {
    height: 19px;
    background: url(../../img/icon-home.png) center no-repeat;
    background-size:auto 100%;
}
.um-footerbar-item.active {
    color:#ee9430;
}
.icon-attention {
    background-image: url(../../img/icon-attention.png);
}
.icon-categroy {
    background-image: url(../../img/icon-categroy.png);
}
.icon-warehouse {
    background-image: url(../../img/icon-warehouse.png);
}
.icon-my {
    background-image: url(../../img/icon-my.png);
}
/* è®¾ç½®æ¿€æ´»çŠ¶æ€ */
.um-footerbar-item.active .icon-home {
    background-image: url(../../img/icon-home-active.png);
}
.um-footerbar-item.active .icon-attention {
    background-image: url(../../img/icon-attention-active.png);
}
.um-footerbar-item.active .icon-categroy {
    background-image: url(../../img/icon-categroy-active.png);
}
.um-footerbar-item.active .icon-warehouse {
    background-image: url(../../img/icon-warehouse-active.png);
}
.um-footerbar-item.active .icon-my {
    background-image: url(../../img/icon-my-active.png);
}
#swrapper {
    position: fixed;
    top: 61px;
    width: 100%;
    bottom:0;
    padding:0 8px;
}
#swrapper.nobottom {
	bottom: 45px;
}
#swrapper.nocat {
	top:105px;
}
.more {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.noshow {
    opacity: 0;
}

.pull_icon {
    width: 25px;
    height: 25px;
    background-image: url('../../img/pull.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: all .5s;
}

.more span {
    padding-left: .5rem;
}

.more .flip {
    transform: rotate(180deg);
}

.loading {
    background-image: url('../../img/loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.more .loading {
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}