body{
    font-size: 14px;
}
.um-header{
    background: #ff9500;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.order-status{
    overflow: hidden;
    margin: 10px 0;
    background: #fff;
}
.order-status-icon{
    width: 20%;
    float: left;
}
.order-status-icon div{
    width: 35px;
    height: 35px;
    margin: 15px auto 0 auto;
}
.order-status-icon p{
    text-align: center;
    color: rgb(143,143,143);
    font-size: 12px;
    margin-bottom: 5px;
}
.order-icon-1{
    background: url("../../img/my_daishenhe.png") no-repeat 5px 0px;
    background-size: 70%;
}
.order-status-icon.active .order-icon-1{
    background: url("../../img/my_icon-1.png") no-repeat 5px 0px;
    background-size: 70%;
}
.order-icon-2{
    background: url("../../img/my_daifahuo.png") no-repeat;
    background-size: 100%;
}
.order-status-icon.active .order-icon-2{
    background: url("../../img/my_icon-2.png") no-repeat ;
    background-size: 100%;
}
.order-icon-3{
    background: url("../../img/my_daipingjia.png") no-repeat 0px 2px;
    background-size: 100%;
}
.order-status-icon.active .order-icon-3{
    background: url("../../img/my_icon-4.png") no-repeat  0px 2px;
    background-size: 100%;
}
.order-icon-4{
    background: url("../../img/my_daiyanshou.png") no-repeat;
    background-size: 80%;
}
.order-status-icon.active .order-icon-4{
    background: url("../../img/my_icon-6.png") no-repeat;
    background-size: 80%;
}
.order-icon-5{
    background: url("../../img/my_daiqianshou.png") no-repeat;
    background-size: 70%;
}
.order-status-icon.active .order-icon-5{
    background: url("../../img/my_icon-5.png") no-repeat;
    background-size: 70%;
}
.order-icon-6{
    background: url("../../img/my_yishenhe.png") no-repeat 2px 0px;
    background-size: 65%;
}

.order-status-icon.active .order-icon-6{
    background: url("../../img/my_order_m1.png") no-repeat 2px 0px;
    background-size: 65%;
}
.order-icon-7{
    background: url("../../img/my_yijiesuan.png") no-repeat;
    background-size: 70%;
}

.order-status-icon.active .order-icon-7{
    background: url("../../img/my_order_m3.png") no-repeat;
    background-size: 70%;
}
.order-icon-8{
    background: url("../../img/icon-categroy.png") no-repeat 7px 2px;
    background-size: 70%;
}

.order-status-icon.active .order-icon-8{
    background: url("../../img/icon-categroy-active.png") no-repeat 7px 2px;
    background-size: 70%;
}

.order-list {
    background: #fff;
    width: 100%;
    overflow: hidden;
    padding: 10px 0;
    margin-bottom:10px;
}
.order-header{
    width: 100%;
    height: 30px;
    padding: 0 10px;
}
.order-header-left{
    color: rgb(151,151,151);
}
.order-header-right{
    color: rgb(252,85,109);
}
.order-content-tag{
    color: #ff9500;
    font-size: 12px;
}
.order-content-detail{
    max-width: 180px;
    overflow: hidden;
}
.order-icon{
    width: 25px;
    height: 25px;
    background: url(../../img/icon_order.png) no-repeat;
    -webkit-background-size: 80%;
    background-size: 80%;
    float: left;
}

.order-content{
    width: 100%;
    overflow: hidden;
    background: rgb(242,242,242);
    padding:10px;
}
.order-footer{
    overflow: hidden;

}
.order-total{
    text-align: right;
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #cfcfcf;
    color: rgb(151,151,151);
    margin-bottom: 10px;
    padding-right: 10px;
}
.order-button-list{
    width: 100%;
    overflow: hidden;
    padding-right: 10px;
}
.order-button-list button{
    float: right;
    margin-left: 10px;
    padding: 3px 5px;
    background: #fff;
    border-radius: 5px;
}
.btn-1{
    border: 1px solid rgb(151,151,151);
    color: rgb(151,151,151);
}
.btn-2{
    border: 1px solid #ff9500;
    color: #ff9500
}
.order-content-img img {
    width: 100px;
    margin-right: 10px;
}
.order-content-detail h4{
    color:rgb(105,105,105);
}

.order-content-detail p{
    color: rgb(151,151,151);
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 12px;
}
/*搜索框*/
.um-input-search {
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  box-align: center;
  width:90%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  padding: 9px 0;
  background-color: #ffffff;
}
.um-input-search input {
	background-color:#f1f1f2 !important;
	-webkit-appearance: none;
}
.um-input-search form {
	display:block;
	width:100%;
}
.um-input-search .form-control:focus {
  width: 100%;
  border: none;
  box-shadow: none;
}
.cancel {
	position: absolute;
    right: 0;
    top: 0;
    color: #ff5d00;
    font-size: 13px;
    margin-top: 15px;
    margin-right: 2%;
}
.search-wp {
	padding: 0 10px;
    position: relative;
    top:0 !important;
    background-color:#fff;
}