html,body {
	font-size:14px;
}
.um-header-light .um-back:before {
    border-left: 2px solid #000000;
    border-bottom: 2px solid #000000;
    padding-top:22px;
}
.rite-item {
	width:100%;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.um-header {
	background-color:#fff;
	color:#333;
	padding-top:22px;
}
.um-header h3 {
	font-size:15px;
	font-weight: normal;
	color:#333;
}
.um-back::before {
	width: 10px;
    height: 10px;
    border-left: 2px solid #333;
    border-bottom: 2px solid #333;
    position: relative;
    left:10px;
}
.tab {
	display:flex;
	display:-webkit-flex;
}
.flex1 {
	flex:1;
}
.tab .flex1 {
	line-height: 40px;
	text-align:center;
	border:2px solid rgba(238, 148, 48, 1);
}
.tab .flex1.on {
	background-color:rgba(238, 148, 48, 1);
	color:#fff;
}
.main-order {
	overflow:hidden;
	background-color:#fff;
	font-size:12px;
	line-height: 40px;
	padding:0 10px;
	border-bottom:1px solid #cfcfcf;
}
.main-order .fl {
	font-size:10px;
	line-height: 45px;
}
.item-inner {
	padding:10px;
	background-color:#fff;
	overflow: hidden;
}
.comment-wp {
	background-color:#fff;
}
.comment-item {
	padding:10px;
	border-top:1px solid #cfcfcf;
}
.comment-time{
	padding:5px;
}
.item {
	margin-bottom:6px;
}
.um-back {
	top:22px;
}
/*
 ä¸‹æ‹‰åŠ è½½
 * */
.more {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.noshow {
    opacity: 0;
}

.pull_icon {
    width: 25px;
    height: 25px;
    background-image: url('../../img/pull.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    transition: all .5s;
}

.more span {
    padding-left: .5rem;
}

.more .flip {
    transform: rotate(180deg);
}

.loading {
    background-image: url('../../img/loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}

.more .loading {
    -webkit-transform: rotate(0deg) translateZ(0);
    -webkit-transition-duration: 0;
    -webkit-animation-name: loading;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes loading {
    from {
        -webkit-transform: rotate(0deg) translateZ(0);
    }
    to {
        -webkit-transform: rotate(360deg) translateZ(0);
    }
}
#scroller {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}
#swrapper {
	position:fixed !important;
	width:100%;
	top:106px !important;
	bottom:0;
}