.drop2 {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 99;
}
.my-header{
    width: 100%;
    height: 140px;
    background-image: url(../../img/my_tx_bg.png);
    background-size:412px;
    border-bottom:none;
    border-image: none;
    padding-top:25px;
}
.my-header-content{

}

.my-header-sys{
    height:30px;
    line-height: 30px;
}

.my-header-systype {
    float:right;
    font-size: 12px;
    overflow:hidden;
    margin-right:10px;
    margin-top:20px;
}
#zhuanhuan{
	color:#fff;
	font-size: 14px;
	margin-left:0;
}
.my-header-img {
    margin:0 10px
}
.my-header-user{
    color:#fff;
}
.my-header-userName{
    margin:15px 0 3px 0;
    font-size:14px;
    width:150px;
    overflow:hidden
}
.org {
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../../img/org.png) no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    margin: 15px 10px;
    float: left;
}
.system-title{
    color: #fff;
    width: 70px;
    text-align: center;
    float: left;
    font-size:14px;
}
.system-list{
    display: none;
    right:0;
    border: 1px solid #f0a30a;
    position:absolute;
    border-radius:5px;
    margin-top: 40px;
    width:150px;
    background-color: #f7f7f7;
    z-index: 99999;
}
.system-list li{
    line-height:55px;
    text-align:left;
    border-bottom:1px solid #f0a30a;
}


.mb10{
    margin-bottom: 10px;
}
.mt10{
    margin-top: 10px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.my-um-label {
    font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    height: 44px;
    overflow: hidden;
}
#header>div {
    /*position: relative;*/
    /*top:10px !important;*/
}
.um-content {
    background-color:#f4f4f4;
}
.um-content>div {
    /*background-color:#fff;*/
}
.um-header {
    padding-top:22px;
    height:162px;
}
.um-content>div.um-gray {
    background-color:#f4f4f4
}
/* è®¾ç½®èƒŒæ™¯å›¾ç‰‡ */
.icon-home, .icon-attention, .icon-categroy, .icon-warehouse, .icon-my {
    height: 19px;
    background: url(../../img/icon-home.png) center no-repeat;
    background-size:auto 100%;
}
.um-footerbar-item.active {
    color:#ee9430;
}
.icon-attention {
    background-image: url(../../img/icon-attention.png);
}
.icon-categroy {
    background-image: url(../../img/icon-categroy.png);
}
.icon-warehouse {
    background-image: url(../../img/icon-warehouse.png);
}
.icon-my {
    background-image: url(../../img/icon-my.png);
}
/* è®¾ç½®æ¿€æ´»çŠ¶æ€ */
.um-footerbar-item.active .icon-home {
    background-image: url(../../img/icon-home-active.png);
}
.um-footerbar-item.active .icon-attention {
    background-image: url(../../img/icon-attention-active.png);
}
.um-footerbar-item.active .icon-categroy {
    background-image: url(../../img/icon-categroy-active.png);
}
.um-footerbar-item.active .icon-warehouse {
    background-image: url(../../img/icon-warehouse-active.png);
}
.um-footerbar-item.active .icon-my {
    background-image: url(../../img/icon-my-active.png);
}
.open_store{
    width: 100px;
    height: 30px;
    background: url(../../img/store-icon.png) no-repeat;
    background-size: 100%;
    margin-top:10px;
}
.isDB,.isCG{
    background: none;
}

#userChoose li{
	border: 1px solid #f0f0f0;
}