body{
    font-size: 14px;
}
.um-header{
    background: #ff9500;
}
#remark {
	width:100%;
	padding:12px;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.mt15{
    margin-top: 15px;
}
.back {
    background:url(../../img/back.png) no-repeat;
    background-size:10px;
    background-position: 15px 11px;
}
.express-header{
    overflow: hidden;
    background: #fff;
}
.express-header .active{
    border-bottom: 2px solid #ff9500;
    color: #ff9500;
}
.express-header div{
    width: 50%;
    float: left;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.um-footerbar{
    background: #ff9500;
    color: #fff;
    width: 100%;
    height: 45px;
    line-height: 45px;
    display: block;
}
.form-control{
    font-size: 14px;
}
.order-id-wp {
	position:relative;
	overflow:hidden;
}
.order-id-wp .form-control {
	width:100%;
	float:left;
}
.order-id-wp button {
	position:absolute;
	right:0;
	float:right;
	width:18%;
	background-color:#ff9500;
	color:#fff;
	outline:none;
	border:0;
	height:38px;	
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	margin-top:16px
}