body{
    color: #666666;
    font-weight: normal;
    font-size:14px;
}
.um-header {
	position:relative;
	padding-top:22px;
	background:url(../../img/storeBackground.png) no-repeat;
	background-size:100% 100%;
	height:25%;
}
.um-back{
	line-height:35px;
	position: absoulte;
	top: inherit;
	left: 15px;
}
.um-back:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-left: 1.5px solid #ffffff;
  border-bottom: 1.5px solid #ffffff;
}
.bars {
	position: absolute;
    background-color: #fff;
    margin-top:25%;
	left: 41%;
    box-shadow: 1px 4px 7px 1px rgba(0,0,0,0.5);
}
.um-content{
	padding: 30px 20px 0;
	font-size:14px;
	background: #fff;
}
.mb2{
    margin-bottom: 2%;
}
.row{
    font-weight: normal;
    border-bottom:1px solid #cfcfcf;
    height: 50px;
    line-height:50px;
    background: #fff;
    float: left;
    width:100%;
}
.tl{
    text-align: left;
}
.tr{
    text-align: right;
}
.col-md-10 {
    width: 83.33333333%;
}
.col-md-9 {
    width: 75%;
    float:left;
}
.col-md-8 {
    width: 66.66666667%;
    float:left;
}
.col-md-7 {
    width: 58.33333333%;
    float:left;
}
.col-md-6 {
    width: 50%;
    float:right;
}
.col-md-5 {
    width: 41.66666667%;
    float:left;
}
.col-md-4 {
    width: 33.33333333%;
}
.col-md-3 {
    width: 25%;
    float:left;
}
.col-md-2 {
    width: 16.66666667%;
}
.col-md-1 {
    width: 8.33333333%;
}

.my-um-label {
    font-weight: normal;
    background-color: #FFFFFF;
    padding-left: 15px;
    padding-right: 10px;
    max-width: none;
    height: 44px;
    overflow: hidden;
}
.back {
    background:url(../../img/back.png) no-repeat;
    background-size:10px;
    background-position: 15px 11px;
}
.um-box{
    height:40px;
    line-height:40px;
}
.store-info{
    margin: 2% 0;
    float:left;
    width:100%;
    background: #fff;
}
.store-detail div label{
    float:left;
    margin-left:2%;
}
.store-detail div span{
    max-width:60%;
    /** text-overflow:ellipsis; white-space:nowrap; overflow:hidden; **/
}

.store-pic{
    overflow:hidden;
}
.store-detail div{
    height:30px;
    line-height:30px
}
.store-pic img {
    margin: 10px auto;
}